.left-panel {
  position: fixed;
  left: 0;
  top: 30px;
  bottom: 0;
  width: 60px;
  background-color: #101010;
  border-right: 1px solid #171717;
  box-sizing: border-box;
  z-index: 1000;
}

.sidebar-active-indicator {
  position: absolute;
  right: -1px;
  width: 4px;
  height: 22px;
  background: #fff;
  border-radius: 7px 0 0 7px;
  box-shadow: 0 1px 8px 0 #fff2, 0 2px 9px 0 #0003;
  transition: top 0.22s cubic-bezier(.42,0,.36,1), background 0.26s;
  z-index: 10;
}

.left-panel-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 10px;
}

.logo-panel {
  width: 70px;
  height: 70px;
  margin-bottom: 50px;
  -webkit-app-region: no-drag;
  -webkit-user-drag: none;
  user-select: none;
}

.icons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  gap: 35px;
}

.icon-btn {
  width: 25px;
  height: 25px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-app-region: no-drag;
}

.icon-btn img {
  width: 25px;
  height: 25px;
  transition: opacity 0.3s ease, filter 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-user-drag: none;
  user-select: none;
}

.icon-btn img.hover {
  opacity: 0;
}

.icon-btn:hover img.default {
  opacity: 0;
}

.icon-btn:hover img.hover {
  opacity: 1;
}

.icon-btn.active img.default {
  opacity: 0;
}

.icon-btn.active img.hover {
  opacity: 1;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 25px;
  left: 0;
}

.profile-img {
  width: 28px;
  height: 28px;
  border-radius: 14px;
  border: 2px solid #808080;
  object-fit: cover;
  -webkit-app-region: no-drag;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -webkit-user-drag: none;
  user-select: none;
}