@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
  font-family: Arial, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

/* Убираем скроллбар */
::-webkit-scrollbar {
  display: none;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.app-body {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 3000;
  display: flex;
  flex-direction: column;
  gap: 10px;
}